In [9]:
import os
current_dir = os.getcwd()
current_dir

'/workspaces/CI_P5_House_Pricing/jupyter_notebooks'

In [10]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

In [11]:
current_dir = os.getcwd()
current_dir

'/workspaces/CI_P5_House_Pricing'

In [16]:
import os
import pandas as pd

path = r"outputs/datasets/collection/HouseFeaturesPrices.csv"

Data Exploration

In [ ]:
df = pd.read_csv(path)

df.head(3)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500

In [ ]:
import matplotlib

In [ ]:
import matplotlib.pyplot as plt

# Distribution of Sale Price (target variable)
if 'SalePrice' in df.columns:
    fig, axes = plt.subplots(1, 2, figsize=(14, 5))
    
    # Histogram
    axes[0].hist(df['SalePrice'], bins=50, edgecolor='black')
    axes[0].set_xlabel('Sale Price')
    axes[0].set_ylabel('Frequency')
    axes[0].set_title('Distribution of Sale Price')
    
    # Box plot
    axes[1].boxplot(df['SalePrice'])
    axes[1].set_ylabel('Sale Price')
    axes[1].set_title('Sale Price Box Plot')
    
    plt.tight_layout()
    plt.show()
    
    print(f"\nSale Price Statistics:")
    print(f"Mean: ${df['SalePrice'].mean():,.2f}")
    print(f"Median: ${df['SalePrice'].median():,.2f}")
    print(f"Std Dev: ${df['SalePrice'].std():,.2f}")
    print(f"Min: ${df['SalePrice'].min():,.2f}")
    print(f"Max: ${df['SalePrice'].max():,.2f}")

ModuleNotFoundError: No module named 'matplotlib'